/* .container-projects {
  width: 80%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 3rem 0;
  text-align: center;
}

.container-projects h1 {
  font-size: 2.2rem;
  text-align: center;
  color: #b50b0b;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.container-projects p {
  width: 50%;
  margin: 0 auto;
  padding: 1rem 0;
  font-size: 1.1rem;
} */
